<ion-view view-title="Question" xmlns="http://www.w3.org/1999/html">
  <ion-content class="padding">

    <link href="css/style.css" rel="stylesheet">
    <button class="btn btn-success" id="demarre">Démarrer</button>

    <div id="timing">

    </div>

    <canvas id="mycanvas" width="250" height="250"></canvas>
    <div id="button"></div>
    <div class="list">
      <h4 id="questionEncours"></h4>
      <blockquote id="reponsesList">

      </blockquote>
    </div>

  </ion-content>

</ion-view>