<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Connection" icon-off="ion-person" icon-on="ion-person">
    
    <ion-nav-view name="tab-login"></ion-nav-view>
    
  </ion-tab>

  <ion-tab title="Choix de catégorie" icon-off="ion-network" icon-on="ion-network" >
    <ion-nav-view name="tab-cat"></ion-nav-view>
  </ion-tab>

  <ion-tab title="QCM" icon-off="ion-ios-toggle" icon-on="ion-ios-toggle" >
    <ion-nav-view name="tab-qcm"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Resultat" icon-off="ion-ios-barcode" icon-on="ion-ios-barcode" >
    
    <ion-nav-view name="tab-resultat"></ion-nav-view>
  </ion-tab>



</ion-tabs>
